.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.IFrame-Container {
  width: 100vw;
  height: 100vh;
  border: transparent;
  margin: 0px;
}

.title {
  margin: 8px;
}
  
body {
  margin: 20px 0;
  background-color: #f0efed;
  font-family: monospace;
}

@media (min-width: 900px) {
  .large-menu a {
    color: DarkOrange;
    font-size: 30px;
  }
  .header-bar {
    display: inline-flex;
  }
}

.small-menu a {
  color: Skyblue;
  text-decoration: line-through;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
